<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deepblue.springbatch.chapter_10.mapper.UserMapper">
    <sql id="userSQL">
        id,
        name,
        age,
        gender,
        del_flag as delFlag
    </sql>
    <select id="selectAll" resultType="com.deepblue.springbatch.chapter_10.entity.User">
        select <include refid="userSQL"/> from user
    </select>
</mapper>
